<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>ingresapieza</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="assets/css/Footer-Basic.css">
    <link rel="stylesheet" href="assets/css/Navigation-Clean.css">
    <link rel="stylesheet" href="assets/css/Registration-Form-with-Photo.css">
    <link rel="stylesheet" href="assets/css/styles.css">
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-md navigation-clean">
        <div class="container"><a class="navbar-brand" href="#">IX LODGING</a><button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse"
                id="navcol-1">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item" role="presentation"><a class="nav-link" href="#">Busca tu hospedaje</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="ingresahospedaje.html">Ingresa tu hospedaje</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="register-photo" >
        <div class="form-container">
            <div class="image-holder" id="ip"></div>
            <form method="post">
                <h2 class="text-center"><strong>Caracteristicas de la pieza:</strong></h2>
                <div class="form-group"><input class="form-control"  name="email" placeholder="Nombre pieza"></div>
                <select id="inputState" class="form-control">
                    <option selected>Cantidad de baños</option>
                    <option>1</option>
                    <option>2</option>
                    <option>3+</option>                                 
                  </select>
                  <br>
                  <select id="inputState" class="form-control">
                    <option selected>Compartida</option>
                    <option>si</option>
                    <option>no</option>                               
                  </select>
                
                    
                <button class="btn btn-primary"
                    type="button">Añadir pieza</button></form>
        </div>
    </div>
    <div class="footer-basic">
        <footer>
            <div class="social"><a href="#"><i class="icon ion-social-instagram"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-facebook"></i></a></div>
            <p class="copyright">IX LODGING © 2019</p>
        </footer>
    </div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>